.chatt {
  width: 40%;
  margin: 0 auto;
  margin-top: 50px;
  background-color: white;
  padding: 25px 25px;
  border-radius: 10px;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
* {
  box-sizing: border-box;
}

.chat_window {
  /*position: absolute;*/
  width: calc(100% - 20px);
  max-width: 800px;
  height: 500px;
  border-radius: 10px;
  background-color: #fff;
  top: 50%;
  /*transform: translateX(-50%) translateY(-50%);*/
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  background-color: #f8f8f8;
  overflow: hidden;
  height: calc(100vh - 120px);
}

.top_menu {
  background-color: #fff;
  width: 100%;
  padding: 13px 0px;
  box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
}
.top_menu .buttons {
  margin: 3px 0 0 20px;
  position: absolute;
}
.top_menu .buttons .button {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
  position: relative;
}
.top_menu .buttons .button.close {
  background-color: #f5886e;
}
.top_menu .buttons .button.minimize {
  background-color: #fdbf68;
}
.top_menu .buttons .button.maximize {
  background-color: #a3d063;
}
.top_menu .title {
  text-align: center;
  color: #337ab7;
  font-size: 20px;
}

.messages {
  position: relative;
  list-style: none;
  padding: 20px 10px 0 10px;
  margin: 0;
  height: calc(100vh - 250px);
  overflow: scroll;
}
.messages .message {
  clear: both;
  overflow: hidden;
  margin-bottom: 20px;
  transition: all 0.5s linear;
  opacity: 0;
}
.messages .message.left .avatar {
  background-color: #f5886e;
  float: left;
}
.messages .message.left .text_wrapper {
  background-color: #ffe6cb;
  margin-left: 20px;
}
.messages .message.left .text_wrapper::after,
.messages .message.left .text_wrapper::before {
  right: 100%;
  border-right-color: #ffe6cb;
}
.messages .message.left .text {
  color: #c48843;
}
.messages .message.right .avatar {
  background-color: #fdbf68;
  float: right;
}
.messages .message.right .text_wrapper {
  background-color: #c7eafc;
  margin-right: 20px;
  float: right;
}
.messages .message.right .text_wrapper::after,
.messages .message.right .text_wrapper::before {
  left: 100%;
  border-left-color: #c7eafc;
}
.messages .message.right .text {
  color: #45829b;
}

.messages .message.left .text {
  color: black;
  font-weight: inherit;
}

.messages .message.appeared {
  opacity: 1;
}
.messages .message .avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: inline-block;
}
.messages .message .text_wrapper {
  display: inline-block;
  padding: 20px;
  border-radius: 6px;
  width: calc(100% - 85px);
  min-width: 100px;
  position: relative;
}
.messages .message .text_wrapper::after,
.messages .message .text_wrapper:before {
  top: 18px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.messages .message .text_wrapper::after {
  border-width: 13px;
  margin-top: 0px;
}
.messages .message .text_wrapper::before {
  border-width: 15px;
  margin-top: -2px;
}
.messages .message .text_wrapper .text {
  font-size: 18px;
  font-weight: 300;
}

.bottom_wrapper {
  position: relative;
  width: 100%;
  background-color: #fff;
  padding: 0px 0px;
  /*position: absolute;*/
  bottom: 0;
}
.bottom_wrapper .message_input_wrapper {
  display: inline-block;
  height: 50px;
  border-radius: 25px;
  border: 1px solid #bcbdc0;
  width: calc(100% - 160px);
  position: relative;
  padding: 0 20px;
}
.bottom_wrapper .message_input_wrapper .message_input {
  border: none;
  height: 100%;
  box-sizing: border-box;
  width: calc(100% - 40px);
  position: absolute;
  outline-width: 0;
  color: gray;
}
.bottom_wrapper .send_message {
  width: 140px;
  height: 50px;
  display: inline-block;
  border-radius: 50px;
  background-color: #e17f93;
  border: 2px solid #e17f93;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s linear;
  text-align: center;
  float: right;
}
.bottom_wrapper .send_message:hover {
  color: #e17f93;
  background-color: #fff;
}
.bottom_wrapper .send_message .text {
  font-size: 18px;
  font-weight: 300;
  display: inline-block;
  line-height: 48px;
}

.message_template {
  display: none;
}

#msg_input {
  color: black;
}
.chat_window {
  height: calc(100vh - 120px);
}
.messages {
  height: calc(100vh - 250px);
}

.messages .message.left .text {
  color: black !important;
  font-weight: inherit;
}

#msg_input {
  color: black;
}
@import url(http://weloveiconfonts.com/api/?family=fontawesome|iconicstroke|typicons);
/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: "FontAwesome", sans-serif;
}
/* iconicstroke */
[class*="iconicstroke-"]:before {
  font-family: "IconicStroke", sans-serif;
}
/* typicons */
[class*="typicons-"]:before {
  font-family: "Typicons", sans-serif;
}
body {
  font-family: arial, sans-serif;
}
.chat-container {
  width: 300px;
  margin-right: 20px;
  float: right;
  overflow: hidden;
}
.top-header {
  background: #666;
  color: white;
  padding: 0.2rem;
  position: relative;
  overflow: hidden;
  border-bottom: 4px solid #35ac19;
  cursor: pointer;
}
.top-header:hover {
  background-color: #35ac19;
}
.top-header-tit {
  display: inline;
  font-size: 14px;
}
.top-header .typicons-message {
  display: inline-block;
  padding: 2px 5px 2px 5px;
  font-size: 20px;
  position: relative;
  top: 5px;
}
.top-header .typicons-minus {
  position: relative;
  top: 3px;
  font-size: 15px;
  cursor: pointer;
}
.top-header .typicons-plus {
  position: relative;
  top: 3px;
  font-size: 15px;
}
.top-header .typicons-times {
  position: relative;
  top: 3px;
  font-size: 15px;
}
.top-header .left {
  float: left;
}
.top-header .right {
  float: right;
  padding-top: 5px;
}
.top-header > * {
  position: relative;
}
.top-header::before {
  content: "";
  position: absolute;
  top: -100%;
  left: 0;
  right: 0;
  bottom: -100%;
  opacity: 0.25;
  background-color: #404040;
}
.chat-box {
  list-style: none;
  background: #e5e5e5;
  margin: 0;
  padding: 0 0 50px 0;
  height: 280px;
  overflow-y: auto;
}
.chat-box li {
  padding: 0.5rem;
  overflow: hidden;
  display: flex;
}
.chat-box .avatar-icon {
  width: 40px;
  position: relative;
}
.chat-box .avatar-icon img {
  display: block;
  width: 100%;
  background-color: #1469a6;
}
.ibo .avatar-icon:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border: 5px solid white;
  border-left-color: transparent;
  border-bottom-color: transparent;
}
.me {
  justify-content: flex-end;
  align-items: flex-end;
}
.me .messages {
  order: 1;
  border-bottom-right-radius: 0;
}
.me .avatar-icon {
  order: 2;
}
.me .avatar-icon:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  border: 5px solid white;
  border-right-color: transparent;
  border-top-color: transparent;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}
.messages {
  background: white;
  padding: 10px;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.messages p {
  font-size: 0.8rem;
  margin: 0 0 0.2rem 0;
}
.messages time {
  font-size: 0.7rem;
  color: #ccc;
}
.setting {
  background-color: #e5e5e5;
  height: 32px;
  padding-top: 2px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.setting .left {
  float: left;
}
.setting .right {
  float: right;
}
.iconicstroke-user {
  font-size: 22px;
  position: relative;
  top: 4px;
  left: 10px;
  color: #414141;
  cursor: pointer;
}
.typicons-cog {
  font-size: 23px;
  position: relative;
  top: 7px;
  right: 4px;
  color: #414141;
  cursor: pointer;
}
.fontawesome-facetime-video {
  font-size: 18px;
  position: relative;
  top: 3px;
  color: #414141;
  left: 5px;
  cursor: pointer;
}
.iconicstroke-user:hover,
.typicons-cog:hover,
.fontawesome-facetime-video:hover {
  color: #000000;
}
::-webkit-scrollbar {
  height: 14px;
  width: 10px;
  background: #eee;
  border-left: 1px solid #ddd;
}
::-webkit-scrollbar-thumb {
  background: #ddd;
  border: 1px solid #cfcfcf;
}
::-webkit-scrollbar-thumb:hover {
  background: #b2b2b2;
  border: 1px solid #b2b2b2;
}
::-webkit-scrollbar-thumb:active {
  background: #b2b2b2;
  border: 1px solid #b2b2b2;
}
@-webkit-keyframes pulse {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.5;
  }
}
.convTitle {
  display: inline-block;
  margin: 0 0 0.05rem 0;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
}
.convTitle::after {
  content: "";
  position: absolute;
  background-color: #4870df;
  width: 120%;
  height: 3.5px;
  border-radius: 30px;
  left: 0;
  right: 0;
  bottom: -0.55px;
}
