@import url("https://fonts.googleapis.com/css?family=PT+Sans");
body {
  font-family: "PT Sans", sans-serif;
  background-color: white;
  margin: 0;
  color: #fff;
  line-height: 1.6;
}
#logo {
  width: 40px;
}
